input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.SessionHeader {
    display: flex;
}

.SessionHeader img {
    width: 49px;
    height: 49px;
    left: 5px;
    position: relative;
    top: 13px;
    cursor: pointer;
}

.SessionHeader a {
    text-decoration: none;
    color: black;
}

.SessionHeader a:hover {
    text-decoration: none;
}

.SessionHeader h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: -2.5px;
    left: 6px;
    top: -6px;
    font-family: 'sans-serif';
    font-size: 30px;
    cursor: pointer;
}

.SessionMain {
    width: 480px;
    color: #2c2d30;
    margin: auto;
    margin-top: -30px;
}

.SessionMain h1 {
    font-weight: 100;
    font-family: Lato;
    letter-spacing: 1px;
    font-size: 41px;
}

.SessionMain p {
    font-size: 1.25rem;
    color: #717274;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: Lato;
    font-size: 19.5px;
    line-height: 22px;
}

.Session input {
    font-size: 1.25rem;
    line-height: normal;
    padding: .75rem;
    border: 1px solid #a0a0a2;
    border-radius: .25rem;
    outline: none;
    color: #2c2d30;
    width: 445px;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    height: auto;  
    box-sizing: border-box;
    margin-bottom: 30px;
}

.Session input:focus {
    border-color: #717274;
}

.SessionMainLabel {
    margin-bottom: 15px;
}

.SessionButtonWrap {
    text-align: center;
    width: 90%;
}

.Session .Error {
    margin: auto;
    width: 380px;
    text-align: left;
    position: relative;
    top: -23px;
    left: -13px;
    height: inherit;
    margin-bottom: 20px;
}

.SessionError {
    position: relative;
    height: 30px;
}

.SessionMain a {
    text-decoration: none;
    color: darkcyan;
}

.SessionMain a:hover {
    text-decoration: underline;
} 