.HeaderAuth {
    display: flex;
    font-size: 18px;
    color: white;
    justify-content: space-between;
    width: 200px;
    padding-top: 5px;
    margin-right: 20px;
}

.HeaderAuth a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.HeaderAuth a:hover {
    text-decoration: none;
}

.HeaderAuthNotLoggedIn {
    width: 150px;
}

.HeaderAuthNotLoggedIn h4:first-child {
    border-right: 2px solid white;
    padding-right: 3px;
}