.ChartWrapper {
    width: 750px;
    margin: auto;
    margin-top: 40px;
}

.ChartToggle {
    background: #9ED0E6;
    height: 40px;
    font-size: 16px;
    padding-top: 11px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}
.ChartButtons {
    display: flex;
    justify-content: space-between;
    width: 630px;
    margin: auto;
}

.ChartWrapperTime, .ChartWrapperType {
    display: flex;
}
/* .HomeToggleTableButtonWrap {
    display: flex;
    margin: 10px 0px 0px 0px;
} */