.ReactModal__Overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 998;
    cursor: default;    
}

.ReactModal__Content {
    background: white;
    outline: none;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.HistoryModal-options  {
    list-style-type: none;
    margin: 0px;
    padding: 24px 16px;
    text-align: center;
}

.HistoryModal-options li {
    font-size: 20px;
    background: white;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    user-select:none;
}

.HistoryModal-options li:hover {
    background: #3437d4;
    color: white;
}

.ReactModal__Content h2 {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: -5px;
}