.HomeHeader {
    position: fixed;
    height: 75px;
    background: #3437d4;
    width: 100%;
    top: 0;
    left: 0;
}

.HomeHeaderContent {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    height: 100%;
}

.HomeHeaderTitle {
    color: white;
    padding-top:0px;

}

.HomeHeaderTitleBox {
    background: black;
    height: 100%;
    padding: 0px 15px;
    margin-right: 40px;
}

.HomeHeaderLeft {
    display: flex;
    justify-content: space-between;
    width: 550px;
}